.carousel .item > img { display: inline-block; }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height:208px;
}
.carousel-inner { text-align: center;
}
.carousel-caption{
    color: #777;
    -webkit-text-stroke: .25px white;
}
