{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1>About Us</h1>
    </h4>Cinco Industries has been serving the Fastener Industry since 1972 with a commitment to providing
    the best machinery lines in the world and detailed attention to customer service.  We have strived to
    to meet all of our customer's equipment needs for New and Used Machinery in addition to parts and
    material handling.  We sell primary and secondary equipment for all types of fastener production as
    well as quality control, inspection equipment and process monitoring. Please contact us below for more information.</h4>
    
    <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>

{% endblock %}