{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

    
   <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
        <img class="first-slide" src="{% static 'img/cincoindustries_lion.png' %}" alt="CINCO">
          <div class="container">
            <div class="carousel-caption">
              <h1>Cinco Accessories</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'img/conveyor.png' %}" alt="Conveyor">
          <div class="container">
            <div class="carousel-caption">
              <h1>Cinco Conveyors</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#conveyor" role="button">Learn More</a></p>
            </div>
          </div>
        </div> 
        <div class="item">
          <img class="fourth-slide" src="{% static 'img/chip_separator.png' %}" alt="Chip Separator">
          <div class="container">
            <div class="carousel-caption">
              <h1>Chip Separators</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#chip_separator" role="button">Learn More</a></p>
            </div>
          </div>
        </div> 
        <div class="item">
          <img class="fifth-slide" src="{% static 'img/turntable_picture.png' %}" alt="Wire Turntable">
          <div class="container">
            <div class="carousel-caption">
              <h1>Wire Turntables</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#turn_table" role="button">Learn More</a></p>
            </div>
          </div>          
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->     
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" id="conveyor">Conveyors</h2>
          <p class="lead">From small parts conveyors built to your specifications to chip separators and wire turntables; Cinco Industries can meet all your material Handling needs. Our New small parts conveyor with a catch pan can be built to your specifications.         <li>Drip Tray underneath to catch excess oil and fluids!</li>
        <li>All Carbon steel and hinged belt greatly reduces wear!</li>
        <li>Adjustable discharge height for multiple configurations!</li> </p>
          <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/conveyor_pan.png' %}" alt="Conveyor with pan">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" id="chip_separator">Chip Separators </h2>
          <p class="lead">Cinco Industries’ A-1000 Vibratory Chip Separator has been a
    fastener industry standard for over 40 years.  Cinco
    We are proud to continue to offer one of the most reliable
    and time-tested products on the market today!</p>
          <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/chip_separator.png' %}" alt="Chip Separator">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" id="turn_table">Wire Turntables</h2>
          <p class="lead">Wire Turntables continue to be an industry staple,
                and Cinco Industries offers the highest quality turntables on the market.
        <li>Stack up to 6,000 lbs.</li>
        <li>Top plates in 30”, 40”, 50” and 60” diameters.</li>
        <li>Optional snag rings and brakes are available on request.</li></p>
          <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/turntable_picture.png' %}" alt="Wire Turntable">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->
    <!-- Bootstrap core JavaScript
           <!-- Site footer -->
    <div class='row'>            
     <footer class="footer">
        <p>&copy; 2015 Cinco Industries, Inc.</p>
        </footer>
    </div>   

{% endblock %}


    




