
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}{% endblock %}</title>

    {% include 'head_css.html' %}
    
    <style>
   {% block style %}{% endblock %}
  </style>


  </head>
  

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
          {% include 'navbar.html' %}
      </div>
      
{% block jumbotron %}   
       
{% endblock %}

{% block content %}

{% endblock %}
    
    {% include 'javascript.html' %}

  </body>
</html>