{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1 align="middle">CCT Vision Sorting Machines</h1>
</div>
<div class='col-sm-8'>
<p class="lead" align="left">Cinco Industries is proud to bring Chan Chun Tech’s line of competitively priced Steel Plate Sorting Machines,
Glass Plate Sorting Machines, and Conveyor Optical Sorting machines.
    <li>Eddy Current </li>
    <li>2D Line Scan Inspection</li>
    <li>User Friendly Software</li>
    <li>Heavy Duty Construction</li>
    <li>Easy Set Up and Job Changeover</li>
</p> 
<p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>
<div class='col-sm-4'>
<img src="{% static 'img/optical_sorter.png' %}" alt="Vision Sorting Machine" width="400" height="300" />
</div>
{% endblock %}