{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %} CIS |{% endblock %}

<style>
{% block style %}
.navbar-static-top {
    margin-bottom: 0px !important;
}

{% endblock %}
</style>
    



{% block content %}

{% if title %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }}</h1>
</div>
</div>    
{% endif %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h5><p>Cinco Industries, Inc.</p>
        <p>14N507 Timber Ridge Dr.</p>
        <p>Elgin, IL 60124</p> 
        <p>Phone: (847)741-4400 FAX: (847)741-4407</p>
        <p>E-Mail:  sales@cinco-ind.com</p>
    </h5>
</div>
</div>
<br>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value='Submit'/>
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
</div>
</div>


{% endblock %}