{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1 align="middle">Jenn Tai Feeder Bowls</h1>
</div>
<div class='col-sm-8'>
<p class="lead" align="left">Jenn Tai (Chen Tai) Machinery Enterprise Co.,Ltd. was established in 1985, and has been a leading professional manufacturer of Vibratory Feeder Machines. For more than 20 years, Jenn Tai has insisted on a “technology first” approach and a focus continuously improving old products while enhancing product quality. Jenn Tai’s belief that "quality is first, and goodwill is everything" has set them apart as a business leader and is only one of the reason Cinco Industries is proud to offer Jenn Tai’s full product line of vibrating bowl feeders. For more information please contact us with the link below.</p> 
<p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>
<div class='col-sm-4'>
<img src="{% static 'img/jenn_tai_feeder_bowl.png' %}" alt="Jenn Tai Feeder Bowls" width="400" height="300" />
</div>
{% endblock %}