{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1 align="middle">Gefra Optisort Sorting Machines</h1>
</div>
<div class='col-sm-8'>
<p class="lead" align="left">OPTISORT inspection systems are individually equipped with the necessary components according to your requirements. For the accurate measurement of geometrical values,
only top-quality high resolution cameras, telecentric optics, and special lighting are used. For the detection of scratches, groves, dents, coating errors, and other surface defects, additional
image acquisition positions with reflected light and cameras are applied to make the errors visible by contrast and evaluable for the software.</p> 
<p class="lead" align="left">OPTISORT – inspection systems can be equipped with up to 14 cameras in up to 7 positions. The heart of the inspection system is the software package AUTOCONTROL, an in-house product of GEFRA.
    Using the modular software tools, the setup of a new inspection task and the handling of the whole system is very quick and efficient. The high performance of the PC hardware and software enables
    an output of the systems up to 1500 parts per minute. The OPTISORT systems are equipped with high-quality components for industrial use, made by well-known vendors and meet all requirements for CE labeling.</p> 
<p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>
<div class='col-sm-4'>
    <img src="{% static 'img/optisort.png' %}" alt="Gefra Optisort Sorting Machines" width="400" height="300" />
</div>
{% endblock %}