{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}CIS | {% endblock %}

<style>
   {% block style %}
   .jumbotron {
      background-color:#BDBDBD;
      color:#000;
      
 
   {% endblock %}
</style>

{% block jumbotron %} 

<!-- Jumbotron -->
<div class="jumbotron">

<div class="row">
<div class='col-sm-8' align="left">
   <style>
         h1 {
       color: black;
       text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
         }
   </style>   
   <h1><img src="{% static 'img/Cinco_logo.png' %}" alt="Cinco Indsutries" width="400" height="75" /></h1>
      <h2 align="left">Serving the Fastener Industry since 1972</h2>
</div>
<div class='col-sm-4'>
<img src="{% static 'img/cincoindustries_lion.png' %}" alt="Cinco Indsutries Logo" width="200" height="225" />
</div>
</div>
</div>
{% endblock %}

     <!-- Example row of columns -->
     {% block content %}
     <div class="row">
        <div class="col-lg-4">
          <h2>SASPI Thread Rollers</h2>
          <p>Cinco Industries is proud to continue to offer the highest quality machinery on the market today at the most competitive prices.</p>
          <p><a class="btn btn-primary" href="{% url 'saspi' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Used Machinery</h2>
          <p>Cinco Industries has been a leading supplier of used machinery in the fastener industry for over 40 years.  We have numerous contacts throughout the world and are able to supplly all your used machinery needs.  </p>
          <p><a class="btn btn-primary" href="{% url 'used_machinery' %}" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Accessories</h2>
          <p>From Small parts conveyors to conveyors built to your specifications, Cinco Industries can meet all your material Handling needs.</p>
          <p><a class="btn btn-primary" href="{% url 'accessories' %}" role="button">View details &raquo;</a></p>
        </div>
      </div>
               <!-- Site footer -->
      <div class='row'>       
      <footer class="footer">
        <p>&copy; 2015 Cinco Industries, Inc.</p>
      </footer>
    </div> <!-- /container -->        

     {% endblock %}
     

  

