{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1 align="middle">Hyodong Part and Nut Formers</h1>
</div>
<div class='col-sm-12'>
<p class="lead" align="left">Hyodong has been building machinery for 25 years to meet the needs of it's global customers.
From their State of the art facilities in Korea, they continue to develop the technology to compete with the finest parts
formers and nut formers in the world. Cinco Industries is proud to have sold their first machine in the United States with more on order.</p> 
<p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>
 <div class='row' align="middle"> 
    <img src="{% static 'img/hyodong_hbp_machine.png' %}" alt="Hyodong HBP Machine" width="400" height="300" />
    <img src="{% static 'img/hyodong_hnp_machine.png' %}" alt="Hyodong HNP Machine" width="400" height="300" />
</div>  
{% endblock %}