{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1 align="middle">Manzoni Cold Forming</h1>
</div>
<div class='col-sm-8'>
<p class="lead" align="left">Italian designed machines manufactured in China.  Years of research, practical tests,
studies with universities and close cooperation with aerospace companies, led to the implementation of high level
technology solutions.  Every detail of a Manzoni Machine has been accurately studied in every aspect with attention
and care to always guarantee the highest level of efficiency.
    <li>Manzoni Absolute Zero Clearance : Sliding movement without bronze liners</li>
    <li>Modular Steel Frame</li>
    <li>Easy and fast tool change "Read, Set & Go" System</li>
    <li>Innovative Timing Diagram</li>
    <li>Easy Move Control Panel with user friendly touch screen</li>
    <li>Ram with wedge</li>
    <li>Kick out on punch side</li>
    <li>Transfer fingers with Manzoni Extra Deep Forming System</li>
    <li>High Speed bushing cut off</li>
    <li>Main Electric cabinet on board with Telemechanique products</li>
    <li>Vector Motor with Double Encoder and torque control</li>
    <li>Wire Feeding: Linear with grippers or with rolls</li>
</p> 
<p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>
<div class='col-sm-4'>
<<img src="{% static 'img/manzoni_machine.png' %}" alt="Manzoni Machinery Cold Forming" width="400" height="300" />
</div>
{% endblock %}