{% load staticfiles %}
        <nav>
          <ul class="nav nav-justified ">
            <li class='hover'><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'post_new' %}">New Post</a></li>
            {% endif %}
       <li class="dropdown">    
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product Lines <span class="caret"></span></a>
          <ul class="dropdown-menu">
                <li><a href="{% url 'saspi' %}">Thread Rollers/Shaver Pointers</a></li>
                <li><a href="{% url 'hyodong' %}">Bolt and Nut Formers</a></li>
                <li><a href="{% url 'manzoni' %}">Cold Headers</a></li>
                <li><a href="{% url 'gefra' %}">Optisort Sorting Machines</a></li>
                <li><a href="{% url 'cct' %}">Vision Sorting Machines</a></li>
                <li><a href="{% url 'tooling' %}">Tooling</a></li>
                <li><a href="{% url 'feeder_bowls' %}">Feeder Bowls</a></li>
                <li><a href="{% url 'accessories' %}">Accessories</a></li>
                <li><a href="{% url 'used_machinery' %}">Used Machinery</a></li>
              </ul>
            </li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </nav>

