{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="post">
        {% if post.published_date %}

        {% endif %}
{% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
                <div class="date">
                {{ post.published_date }}
            </div>
{% endblock %}