{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                      <p><h6>{{ post.published_date }}</h6></p>
                        <p>{{ post.text|linebreaks }}</p>
                        <div class="post">
                        <div class="date">


                </div>
            {% endfor %}
        </div>
    </div>
</div>
 
{% endblock %}
