{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

       
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
        <img class="first-slide" src="{% static 'img/saspi_logo.png' %}" alt="SASPI">
          <div class="container">
            <div class="carousel-caption">

            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{% static 'img/rotary_thread_roller.png' %}"  alt="Rotary Thread Roller">
          <div class="container">
            <div class="carousel-caption">
              <h1>High Speed Thread Rollers</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#rollers" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{% static 'img/washer_assembly_unit.png' %}"  alt="Washer Assembly Unit">
          <div class="container">
            <div class="carousel-caption">
              <h1>Washer Assembly Units</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#washer" role="button">Learn More</a></p>
            </div>
          </div>
        </div> 
        <div class="item">
          <img class="fourth-slide" src="{% static 'img/form_roller.png' %}"  alt="Form Rollers">
          <div class="container">
            <div class="carousel-caption">
              <h1>Form Rollers</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#form" role="button">Learn More</a></p>
            </div>
          </div>
        </div> 
        <div class="item">
          <img class="fifth-slide" src="{% static 'img/shave_pointer.png'  %}" alt="High Speed Shave Pointer">
          <div class="container">
            <div class="carousel-caption">
              <h1>High Speed Shave Pointers</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#shaver" role="button">Learn More</a></p>
            </div>
          </div>          
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->     
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" id="rollers">High Speed Thread Rollers <span class="text-muted">Flat Die and Rotary</span></h2>
          <p class="lead">Saspi offers a complete line of High Speed Flat Die Thread rollers from #0 Size to #70 as well as a line of Rotary Thread Rollers through 12mm Diameter.   An optional automatic eccentric is available for matching dies, which is also controller through the touch screen.</p>
          <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/flat_die_roller.png' %}" alt="Flat Die Thread Roller">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" id="washer">Washer Assembly Units </h2>
          <p class="lead">All machines can be supplied with single and double washer assembly units. Saspi has consistently been an innovator in the machinery industry.  All machines are equipped with Touch Screen Controls.  Operators are able to raise and lower feed rails and Vibratory Feeders from the touch screen.</p>
          <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/washer_assembly_unit.png' %}" alt="washer assembly units">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" id="form">Form Rollers </h2>
          <p class="lead">Saspi also offers optional complete touch screen setup, which includes hydraulic clamping of the dies and die block, as well as opening and closing of the feed rails.  Jobs can be stored in the touch screen for complete recall of set up. </p>
          <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/form_roller.png' %}" alt="Form Rollers">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" id="shaver">High Speed Shave Pointers <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Saspi builds the finest line of High Speed Shave pointers capable of pointing parts from 2 mm Diameter up to 35 mm at speeds up to 250 Parts Per Minute, depending on the part.  All equipped with touch screen controls to change speeds and raise and lower feed rails, spindle and vibratory feeder.</p>
          <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'img/shave_pointer.png' %}" alt="High Speed Shave Pointers">
        </div>
      </div>

      <!-- /END THE FEATURETTES -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>      
{% endblock %}