{% extends "base.html" %}
{% load staticfiles %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1 align="middle">Konfu Enterprise Forming Tools</h1>
</div>    
    
</div>
<div class='col-sm-8'>
<p class="lead" align="left">Established in 1975, Konfu Enterprise has a long history in the fastener industry and a worldwide reach with products sold in over 60 countries.
Konfu Enterprise is known for it’s experience, wide variety of products, and a passion for quality assurance. Cinco Industries is proud to offer Konfu Enterprises’ complete line of forming tools; including K.O. Pins, main dies, punches, recess punch pins, thread rolling dies, and carbide pins.</p> 
	<p class="lead" align="left">If you require more specialized products Konfu Enterprises can meet any requirements according to your drawings or designs. For any questions or inquiries please contacts us.</p>
<p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>
<div class='col-sm-4'>
<img src="{% static 'img/konfu.png' %}" alt="Konfu Tooling Products" width="400" height="300" />
</div>

{% endblock %}


