{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
    <h1>Used Machinery</h1>
    </h4>Cinco Industries has been a leading supplier of used machinery in the fastener
    industry for over 40 years.  We have numerous contacts throughout the world are are
    able to supplly all your used machinery needs. </h4>
    
    <p><a class="btn btn-primary" href="{% url 'contact' %}" role="button">Contact</a></p>
</div>
{% endblock %}